@font-face {
	font-family: 'halyard-regular';
	src: url(../fonts/Halyard-Regular.ttf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.container {
		@media (min-width: 1280px) {
			max-width: 1240px;
		}
	}
}

// components
@import 'components/header';
@import 'components/slider';
@import 'components/pagination';

// Layouts
@import 'layouts/banner';
