@font-face {
  font-family: "halyard-regular";
  src: url(../fonts/Halyard-Regular.ttf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .container {
    @media (min-width: 1200px) {
      max-width: 1280px !important;
    }
  }

  .serarch-box {
    max-width: 306px;
    border: 1px solid rgba(91, 103, 113, 0.32);
    @apply h-14 flex justify-between rounded-full items-center  px-4;
    input {
      @apply h-full  w-full focus:outline-none bg-transparent border-none pr-3;
      &::placeholder {
        color: rgba(91, 103, 113, 0.56);
      }
    }
  }
}

// vendors/library/plugin
@import "vendors/magnific-popup.scss";

// components
@import "components/header";
@import "components/slider";
@import "components/pagination";
@import "components/accordion";

// Layouts
@import "layouts/banner";
@import "layouts/journey";
