{% extends "layout/layout.html" %} {% block content %}
<!-- Banner  -->
<section class="banner relative overflow-hidden py-16 md:py-0 md:h-550" style="background: url('assets/images/all-img/bg-four.png') center center/cover no-repeat;">
    <div class="container mx-auto px-3">
        <!-- text content  -->
        <div class="max-w-2xl md:mt-120">
            <h2 class="text-heading-four md:text-heading-one text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
        </div>
    </div>
</section>


<!-- feature  -->
<section class="relative py-6 lg:py-20">
    <div class="container px-3 mx-auto">
        <!-- feature wrapper  -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
             <!-- feature card column  -->
             <div>
                 <!-- feature card  -->
                 <div class="relative overflow-hidden">
                     <!-- img -->
                     <div class="relative overflow-hidden rounded-xl w-full h-260 md:h-320 mb-6 ">
                          <img src="assets/images/blogs/img-one.png" alt="feature" class="w-full h-full object-cover">
                     </div>

                     <!-- text  -->
                     <div>
                         <!-- icon  -->
                         <span class="inline-block mb-3">
                             <img src="assets/images/icons/creative.svg" alt="icon">
                         </span>
                         <h2 class="text-heading-five md:text-heading-three mb-2">Innovation</h2>
                         <p class=" text-body-16/24 md:text-body-20/28 font-light">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                         </p>
                     </div>
                 </div>
             </div>
             <!-- feature card column  -->
             <div>
                 <!-- feature card  -->
                 <div class="relative overflow-hidden">
                     <!-- img -->
                     <div class="relative overflow-hidden rounded-xl w-full h-260 md:h-320 mb-6 ">
                          <img src="assets/images/blogs/img-two.png" alt="feature" class="w-full h-full object-cover">
                     </div>

                     <!-- text  -->
                     <div>
                         <!-- icon  -->
                         <span class="inline-block mb-3">
                             <img src="assets/images/icons/hands.svg" alt="icon">
                         </span>
                         <h2 class="text-heading-five md:text-heading-three mb-2">Integrity</h2>
                         <p class=" text-body-16/24 md:text-body-20/28 font-light">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                         </p>
                     </div>
                 </div>
             </div>
             <!-- feature card column  -->
             <div>
                 <!-- feature card  -->
                 <div class="relative overflow-hidden">
                     <!-- img -->
                     <div class="relative overflow-hidden rounded-xl w-full h-260 md:h-320 mb-6 ">
                          <img src="assets/images/blogs/img-three.png" alt="feature" class="w-full h-full object-cover">
                     </div>

                     <!-- text  -->
                     <div>
                         <!-- icon  -->
                         <span class="inline-block mb-3">
                             <img src="assets/images/icons/network.svg" alt="icon">
                         </span>
                         <h2 class="text-heading-five md:text-heading-three mb-2">Intelligence</h2>
                         <p class=" text-body-16/24 md:text-body-20/28 font-light">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                         </p>
                     </div>
                 </div>
             </div>
        </div>
    </div>
</section>





{% endblock %}
