{% extends "layout/layout.html" %} {% block content %}
<!-- Banner  -->
<section class="banner relative overflow-hidden py-16 md:py-0 md:h-550" style="background: url('assets/images/all-img/bg-four.png') center center/cover no-repeat;">
    <div class="container mx-auto px-3">
        <!-- text content  -->
        <div class="max-w-2xl md:mt-120">
            <h2 class="text-heading-four md:text-heading-one text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
        </div>
    </div>
</section>


<!-- feature  -->
<section class="relative py-6 lg:py-20">
    <div class="container px-3 mx-auto">
        <!-- feature wrapper  -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
             <!-- feature card column  -->
             <div>
                 <!-- feature card  -->
                 <div class="relative overflow-hidden">
                     <!-- img -->
                     <div class="relative overflow-hidden rounded-xl w-full h-260 md:h-320 mb-6 ">
                          <img src="assets/images/blogs/img-one.png" alt="feature" class="w-full h-full object-cover">
                     </div>

                     <!-- text  -->
                     <div>
                         <!-- icon  -->
                         <span class="inline-block mb-3">
                             <img src="assets/images/icons/creative.svg" alt="icon">
                         </span>
                         <h2 class="text-heading-five md:text-heading-three mb-2">Innovation</h2>
                         <p class=" text-body-16/24 md:text-body-20/28 font-light">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                         </p>
                     </div>
                 </div>
             </div>
             <!-- feature card column  -->
             <div>
                 <!-- feature card  -->
                 <div class="relative overflow-hidden">
                     <!-- img -->
                     <div class="relative overflow-hidden rounded-xl w-full h-260 md:h-320 mb-6 ">
                          <img src="assets/images/blogs/img-two.png" alt="feature" class="w-full h-full object-cover">
                     </div>

                     <!-- text  -->
                     <div>
                         <!-- icon  -->
                         <span class="inline-block mb-3">
                             <img src="assets/images/icons/hands.svg" alt="icon">
                         </span>
                         <h2 class="text-heading-five md:text-heading-three mb-2">Integrity</h2>
                         <p class=" text-body-16/24 md:text-body-20/28 font-light">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                         </p>
                     </div>
                 </div>
             </div>
             <!-- feature card column  -->
             <div>
                 <!-- feature card  -->
                 <div class="relative overflow-hidden">
                     <!-- img -->
                     <div class="relative overflow-hidden rounded-xl w-full h-260 md:h-320 mb-6 ">
                          <img src="assets/images/blogs/img-three.png" alt="feature" class="w-full h-full object-cover">
                     </div>

                     <!-- text  -->
                     <div>
                         <!-- icon  -->
                         <span class="inline-block mb-3">
                             <img src="assets/images/icons/network.svg" alt="icon">
                         </span>
                         <h2 class="text-heading-five md:text-heading-three mb-2">Intelligence</h2>
                         <p class=" text-body-16/24 md:text-body-20/28 font-light">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                         </p>
                     </div>
                 </div>
             </div>
        </div>
    </div>
</section>


<!-- About Member  -->
<section class="relative overflow-hidden py-10 lg:py-20 ">
    <div class="container px-3 mx-auto">
        <!-- section heading  -->
        <div class="mb-4 lg:mb-20 text-center ">
            <h2 class=" text-body-24/32 lg:text-heading-two w-full lg:w-850 mx-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</h2>
        </div>


        <!-- about  -->
        <div class="flex flex-col lg:flex-row justify-center ">
            <!-- img  -->
            <div class="relative overflow-hidden rounded-xl w-full lg:w-420 h-390 lg:h-480 flex-shrink-0 mb-6 lg:mb-0">
                <img src="assets/images/users/img-two.png" alt="member-img" class="w-full h-full object-cover">
            </div>
            <!-- text  -->
            <div class="lg:ml-32">
              <div class="space-y-4 mb-6 md:mb-10">
                <p class="text-body-16/24 md:text-body-20/28">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
                <p class="text-body-16/24 md:text-body-20/28">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas.
                </p>
                <p class="text-body-16/24 md:text-body-20/28">
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
                </p>
              
              </div>
              <h2 class="text-body-24/32 md:text-heading-four">Daniel Low - Founder & CEO </h2>
            </div>
        </div>

    </div>
</section>




{% endblock %}
