{% extends "layout/layout.html" %} {% block content %}

<!-- Banner  -->
<section class="banner relative overflow-hidden py-16 md:py-0 md:h-550" style="background: url('assets/images/all-img/bg-three.png') center center/cover no-repeat;">
    <div class="container mx-auto px-3">
        <!-- text content  -->
        <div class="max-w-2xl md:mt-120">
            <h2 class="text-heading-four md:text-heading-one text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
        </div>
    </div>
</section>

<!-- Blogs  -->
<section class="relative overflow-hidden py-10 lg:py-20">
    <div class="container px-3 mx-auto">
        <!-- section title  -->
        <div class="mb-6 md:mb-10">
            <h2 class="text-heading-four lg:text-heading-one">Articles</h2>
        </div>

        <!-- Blogs content  -->
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
            <div>
                <!-- blog content wrapper -->
                <div class="relative overflow-hidden">
                    <!-- img  -->
                    <a href="blog-detail.html" class="relative overflow-hidden rounded-[16px] h-280 md:h-320 w-full inline-block mb-6">
                        <img src="assets/images/blogs/img-one.png" alt="blog-img" class="w-full h-full object-cover" />
                    </a>
                    <!-- text content  -->
                    <blockquote>
                        <span class="text-body-20/28 text-gray-71 mb-1 lowercase font-light">5 mins read</span>
                        <a href="blog-detail.html" class="block text-body-20/28 text-black capitalize mb-2 font-medium">Article Title</a>
                        <p class="text-body-20/28 font-light">In quam numquam quia voluptas sint ea provident accusamus blanditiis. Dolorem.</p>
                    </blockquote>
                </div>
            </div>
            <div>
                <!-- blog content wrapper -->
                <div class="relative overflow-hidden">
                    <!-- img  -->
                    <a href="blog-detail.html" class="relative overflow-hidden rounded-[16px] h-280 md:h-320 w-full inline-block mb-6">
                        <img src="assets/images/blogs/img-two.png" alt="blog-img" class="w-full h-full object-cover" />
                    </a>
                    <!-- text content  -->
                    <blockquote>
                        <span class="text-body-20/28 text-gray-71 mb-1 lowercase font-light">5 mins read</span>
                        <a href="blog-detail.html" class="block text-body-20/28 text-black capitalize mb-2 font-medium">Article Title</a>
                        <p class="text-body-20/28 font-light">In quam numquam quia voluptas sint ea provident accusamus blanditiis. Dolorem.</p>
                    </blockquote>
                </div>
            </div>
            <div>
                <!-- blog content wrapper -->
                <div class="relative overflow-hidden">
                    <!-- img  -->
                    <a href="blog-detail.html" class="relative overflow-hidden rounded-[16px] h-280 md:h-320 w-full inline-block mb-6">
                        <img src="assets/images/blogs/img-three.png" alt="blog-img" class="w-full h-full object-cover" />
                    </a>
                    <!-- text content  -->
                    <blockquote>
                        <span class="text-body-20/28 text-gray-71 mb-1 lowercase font-light">5 mins read</span>
                        <a href="blog-detail.html" class="block text-body-20/28 text-black capitalize mb-2 font-medium">Article Title</a>
                        <p class="text-body-20/28 font-light">In quam numquam quia voluptas sint ea provident accusamus blanditiis. Dolorem.</p>
                    </blockquote>
                </div>
            </div>
            <div>
                <!-- blog content wrapper -->
                <div class="relative overflow-hidden">
                    <!-- img  -->
                    <a href="blog-detail.html" class="relative overflow-hidden rounded-[16px] h-280 md:h-320 w-full inline-block mb-6">
                        <img src="assets/images/blogs/img-four.png" alt="blog-img" class="w-full h-full object-cover" />
                    </a>
                    <!-- text content  -->
                    <blockquote>
                        <span class="text-body-20/28 text-gray-71 mb-1 lowercase font-light">5 mins read</span>
                        <a href="blog-detail.html" class="block text-body-20/28 text-black capitalize mb-2 font-medium">Article Title</a>
                        <p class="text-body-20/28 font-light">In quam numquam quia voluptas sint ea provident accusamus blanditiis. Dolorem.</p>
                    </blockquote>
                </div>
            </div>
            <div>
                <!-- blog content wrapper -->
                <div class="relative overflow-hidden">
                    <!-- img  -->
                    <a href="blog-detail.html" class="relative overflow-hidden rounded-[16px] h-280 md:h-320 w-full inline-block mb-6">
                        <img src="assets/images/blogs/img-five.png" alt="blog-img" class="w-full h-full object-cover" />
                    </a>
                    <!-- text content  -->
                    <blockquote>
                        <span class="text-body-20/28 text-gray-71 mb-1 lowercase font-light">5 mins read</span>
                        <a href="blog-detail.html" class="block text-body-20/28 text-black capitalize mb-2 font-medium">Article Title</a>
                        <p class="text-body-20/28 font-light">In quam numquam quia voluptas sint ea provident accusamus blanditiis. Dolorem.</p>
                    </blockquote>
                </div>
            </div>
            <div>
                <!-- blog content wrapper -->
                <div class="relative overflow-hidden">
                    <!-- img  -->
                    <a href="blog-detail.html" class="relative overflow-hidden rounded-[16px] h-280 md:h-320 w-full inline-block mb-6">
                        <img src="assets/images/blogs/img-six.png" alt="blog-img" class="w-full h-full object-cover" />
                    </a>
                    <!-- text content  -->
                    <blockquote>
                        <span class="text-body-20/28 text-gray-71 mb-1 lowercase font-light">5 mins read</span>
                        <a href="blog-detail.html" class="block text-body-20/28 text-black capitalize mb-2 font-medium">Article Title</a>
                        <p class="text-body-20/28 font-light">In quam numquam quia voluptas sint ea provident accusamus blanditiis. Dolorem.</p>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
