
{% extends "layout/layout.html" %} {% block content %}
<!-- Banner  -->
<section class="banner relative overflow-hidden py-16 md:py-0 md:h-550" style="background: url('assets/images/all-img/bg-two.png') center center/cover no-repeat;">
    <div class="container mx-auto px-3">
        <!-- text content  -->
        <div class="max-w-2xl md:mt-120">
             <h2 class="text-heading-four md:text-heading-one text-white drop-shadow-bg  ">100% natural food-state vitamins and minerals</h2>">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
        </div>
    </div>
</section>

<!-- certification feature -->
<section class="relative overflow-hidden py-10 lg:py-20">
    <div class="container mx-auto px-3">
        <!-- certificatin wrapper  -->
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-col-3 lg:grid-cols-4 gap-14 md:gap-6">
            <div>
            <!-- card  -->
            <div class="relative overflow-hidden ">
                <!-- img  -->
                <div class="mb-5">
                    <img src="assets/images/brands/gmp.png" alt="">
                </div>
                <!-- text -->
                <div>
                    <h2 class=" text-body-16/24 lg:text-body-20/28 mb-6 ">Good Manufacturing Practice</h2>
                    <p class="text-body-16/24 lg:text-body-20/28 ">
                        GMP is a system for ensuring that products are consistently produced and controlled according to quality standards. It is designed to minimize the risks involved in any pharmaceutical production that cannot be eliminated through testing the final product.
                    </p>
                </div>
            </div>
            </div>
            <div>
            <!-- card  -->
            <div class="relative overflow-hidden ">
                <!-- img  -->
                <div class="mb-5">
                    <img src="assets/images/brands/usda-lg.png" alt="">
                </div>
                <!-- text -->
                <div>
                    <h2 class=" text-body-16/24 lg:text-body-20/28 mb-6 ">USDA Organic</h2>
                    <p class="text-body-16/24 lg:text-body-20/28 ">
                        Produce can be called organic if it’s certified to have grown on soil that had no prohibited substances applied for three years prior to harvest. Prohibited substances include most synthetic fertilizers and pesticides.
                    </p>
                </div>
            </div>
            </div>
            <div>
            <!-- card  -->
            <div class="relative overflow-hidden ">
                <!-- img  -->
                <div class="mb-5">
                    <img src="assets/images/brands/non-lg.png" alt="">
                </div>
                <!-- text -->
                <div>
                    <h2 class=" text-body-16/24 lg:text-body-20/28 mb-6 ">Non-GMO Verified</h2>
                    <p class="text-body-16/24 lg:text-body-20/28 ">
                        Non-GMO means a product was produced without genetic engineering and its ingredients are not derived from GMOs. Non-GMO Project Verified additionally means that a product is compliant with the Non-GMO Project Standard, which includes stringent provisions for testing, traceability, and segregation.
                    </p>
                </div>
            </div>
            </div>
            <div>
            <!-- card  -->
            <div class="relative overflow-hidden ">
                <!-- img  -->
                <div class="mb-5">
                    <img src="assets/images/brands/vegan-lg.png" alt="">
                </div>
                <!-- text -->
                <div>
                    <h2 class=" text-body-16/24 lg:text-body-20/28 mb-6 ">Certified Vegan</h2>
                    <p class="text-body-16/24 lg:text-body-20/28 ">
                        Add in Products may not contain any animal-derived GMO’s or animal-derived genes used to manufacture ingredients or finished product.
                    </p>
                </div>
            </div>
            </div>
            <div>
            <!-- card  -->
            <div class="relative overflow-hidden ">
                <!-- img  -->
                <div class="mb-5">
                    <img src="assets/images/brands/gluten.png" alt="">
                </div>
                <!-- text -->
                <div>
                    <h2 class=" text-body-16/24 lg:text-body-20/28 mb-6 ">Certified Gluten-Free</h2>
                    <p class="text-body-16/24 lg:text-body-20/28 ">
                        The Certified Gluten-Free logo represents the independent verification of quality, integrity and purity of products all held to the strictest gluten-free guidelines.
                    </p>
                </div>
            </div>
            </div>
            <div>
            <!-- card  -->
            <div class="relative overflow-hidden ">
                <!-- img  -->
                <div class="mb-5">
                    <img src="assets/images/brands/kof.png" alt="">
                </div>
                <!-- text -->
                <div>
                    <h2 class=" text-body-16/24 lg:text-body-20/28 mb-6 ">KOF-K Kosher Supervision</h2>
                    <p class="text-body-16/24 lg:text-body-20/28 ">
                        Only those products and services meeting the strictest standards of kashrus (kosher law) are granted pertmission to display the KOF-F K symbol, which is protected under U.S. Federal and international law. When consumers see the KOF-K kosher symbol on a product, they know they are buying food that has been certified to meet the highest standards of kashrus.
                    </p>
                </div>
            </div>
            </div>
            <div>
            <!-- card  -->
            <div class="relative overflow-hidden ">
                <!-- img  -->
                <div class="mb-5">
                    <img src="assets/images/brands/halal.png" alt="">
                </div>
                <!-- text -->
                <div>
                    <h2 class=" text-body-16/24 lg:text-body-20/28 mb-6 ">IFANCA</h2>
                    <p class="text-body-16/24 lg:text-body-20/28 ">
                        IFANCA is a global leader in leading halal certification. IFANCA’s halal certification symbol helps halal consumers choose appropriate products, assured that what they are buying is halal without a doubt.
                    </p>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}
