{% extends "layout/layout.html" %} {% block content %}

<!-- Banner  -->
<section class="relative overflow-hidden py-[40px] md:py-[120px]" style="background: url('assets/images/all-img/bg-seven.png') center center/cover no-repeat;">
    <div class="container px-3 mx-auto">
        <!-- Banner content  -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 items-center">
            <!-- text  -->
            <div>
                <h2 class="mb-6 md:mb-10 text-white text-heading-four md:text-heading-one max-w-full md:max-w-[635px] drop-shadow-bg  ">100% natural food-state vitamins and minerals</h2>

                <div class="hidden md:block">
                    <a
                        href="#"
                        class="flex items-center justify-center overflow-hidden w-full sm:w-[306px] h-[56px] text-white hover:text-gray-71 bg-[#ABCE37] hover:bg-white transition-all rounded-[40px] uppercase text-body-16/24 md:text-body-20/28"
                    >
                        Find Out More
                    </a>
                </div>
            </div>

            <!-- img  -->
            <div class="text-center">
                <div class="relative w-full h-[224px] md:h-[400px] overflow-hidden rounded-xl mb-4 md:mb-6 shadow-[ 0px 4px 4px 0px #00000040 ]">
                    <img src="assets/images/all-img/bg-six.png" alt="bg-img" class="w-full h-full object-cover" />
                    <a href="https://www.youtube.com/watch?v=xu-WuJtOl0c" class="popup absolute top-1/2 left-1/2 transform -translate-y-2/4 -translate-x-2/4">
                        <img src="assets/images/icons/play.svg" alt="icon" />
                    </a>
                </div>

                <p class="text-body-16/24 md:text-body-20/28 text-white mb-6">Learn more about what is to be nature supplements</p>
                <div class="block md:hidden">
                    <a href="#" class="flex items-center justify-center overflow-hidden w-full sm:w-[306px] h-[56px] text-white bg-[#ABCE37] rounded-[40px] uppercase text-body-16/24 md:text-body-20/28 mx-auto">Find Out More</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- quiz Section  -->

<div class="relative overflow-hidden bg-white-cf py-6">
    <div class="container px-3 mx-auto">
        <div class="text-center">
            <h5 class="text-body-16/24 md:text-body-20/28 mb-4">Find out what Supplements you should be taking</h5>

            <button class="relative overflow-hidden w-195 h-[48px] rounded-[34px] bg-white hover:bg-[#ABCE37] shadow-button text-body-16/24 hover:text-white">
                Take the Quiz
            </button>
        </div>
    </div>
</div>

<!-- Our certification  -->
<section class="relative overflow-hidden py-10 lg:py-20 bg-white-f8">
    <div class="container px-3 mx-auto">
        <!-- section heading -->
        <div class="text-center">
            <h2 class="text-body-20/28 md:text-heading-three mb-6 md:mb-10">Our Certifications</h2>
        </div>
        <!-- certification content  -->
        <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
            <div>
                <!-- certificate  -->
                <div class="relative text-center">
                    <!-- logo  -->
                    <a href="#" class="inline-block mb-2 md:mb-4">
                        <img src="assets/images/brands/gmp.png" alt="" class="max-w-full h-auto" />
                    </a>
                    <p class="text-body-14/20 md:text-body-20/28 font-light">Good Manufacturing Practice</p>
                </div>
            </div>
            <div>
                <!-- certificate  -->
                <div class="relative text-center">
                    <!-- logo  -->
                    <a href="#" class="inline-block mb-2 md:mb-4">
                        <img src="assets/images/brands/usda-lg.png" alt="" class="max-w-full h-auto" />
                    </a>
                    <p class="text-body-14/20 md:text-body-20/28 font-light">USDA Organic</p>
                </div>
            </div>
            <div>
                <!-- certificate  -->
                <div class="relative text-center">
                    <!-- logo  -->
                    <a href="#" class="inline-block mb-2 md:mb-4">
                        <img src="assets/images/brands/non-lg.png" alt="" class="max-w-full h-auto" />
                    </a>
                    <p class="text-body-14/20 md:text-body-20/28 font-light">Non-GMO Verified</p>
                </div>
            </div>
            <div>
                <!-- certificate  -->
                <div class="relative text-center">
                    <!-- logo  -->
                    <a href="#" class="inline-block mb-2 md:mb-4">
                        <img src="assets/images/brands/vegan-lg.png" alt="" class="max-w-full h-auto" />
                    </a>
                    <p class="text-body-14/20 md:text-body-20/28 font-light">Certified Vegan</p>
                </div>
            </div>
        </div>
        <!-- navigation -->
        <div class="mt-6 md:mt-10 text-center">
            <a href="certification.html" class="underline text-body-16/24 md:text-body-20/28 hover:text-[#ABCE37]  transition-all ">View More</a>
        </div>
    </div>
</section>

<!-- Featured Products  -->
<section class="relative overflow-hidden pt-10 lg:pt-20 ">
    <div class="container px-3 mx-auto">
        <!-- section heading -->
        <div class="flex items-center justify-center md:justify-between mb-6 md:mb-10">
            <!-- title -->
            <h2 class="text-body-20/28 md:text-heading-three">Featured Products</h2>
            <a href="certification.html" class="hidden md:block underline text-body-16/24 md:text-body-20/28 hover:text-[#ABCE37]  transition-all">View More</a>
        </div>

        <!-- Product content  -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            <div>
                <!-- product -->
                <div>
                    <div class="relative overflow-hidden bg-white-f8 rounded-2xl py-7 md:py-10 flex items-center justify-center w-full h-full mb-6 md:mb-10 group ">
                        <!-- product img  -->
                        <div class="w-195 h-280 transition-all duration-300 transform scale-100 group-hover:scale-110">
                            <img src="assets/images/all-img/cap.png" alt="" />
                        </div>
                        <!-- product icon  -->
                        <div class="absolute overflow-hidden top-6 left-6 w-14 h-14 rounded-full border-2 border-[#E8E7FE] flex items-center justify-center bg-white pointer-events-none">
                            <img src="assets/images/icons/p-icon.svg" alt="icon" />
                        </div>
                    </div>
                    <!-- text wrapper  -->
                    <div>
                        <h2 class="text-body-16/24 md:text-body-20/28 mb-4">Essential for Women</h2>
                        <div>
                            <h6 class="text-body-16/24 md:text-body-20/28 mb-2">Product Name</h6>
                            <p class="text-body-16/24 md:text-body-20/28">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mi est, viverra eget orci eget.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <!-- product -->
                <div>
                    <div class="relative overflow-hidden bg-white-f8 rounded-2xl py-7 md:py-10 flex items-center justify-center w-full h-full mb-6 md:mb-10 group">
                        <!-- product img  -->
                        <div class="w-195 h-280 transition-all duration-300 transform scale-100 group-hover:scale-110">
                            <img src="assets/images/all-img/cap.png" alt="" />
                        </div>
                        <!-- product icon  -->
                        <div class="absolute overflow-hidden top-6 left-6 w-14 h-14 rounded-full border-2 border-[#E8E7FE] flex items-center justify-center bg-white pointer-events-none">
                            <img src="assets/images/icons/p-icon.svg" alt="icon" />
                        </div>
                    </div>
                    <!-- text wrapper  -->
                    <div>
                        <h2 class="text-body-16/24 md:text-body-20/28 mb-4">Essential for Men</h2>
                        <div>
                            <h6 class="text-body-16/24 md:text-body-20/28 mb-2">Product Name</h6>
                            <p class="text-body-16/24 md:text-body-20/28">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mi est, viverra eget orci eget.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <!-- product -->
                <div>
                    <div class="relative overflow-hidden bg-white-f8 rounded-2xl py-7 md:py-10 flex items-center justify-center w-full h-full mb-6 md:mb-10 group">
                        <!-- product img  -->
                        <div class="w-195 h-280 transition-all duration-300 transform scale-100 group-hover:scale-110">
                            <img src="assets/images/all-img/cap.png" alt="" />
                        </div>
                        <!-- product icon  -->
                        <div class="absolute overflow-hidden top-6 left-6 w-14 h-14 rounded-full border-2 border-[#E8E7FE] flex items-center justify-center bg-white pointer-events-none">
                            <img src="assets/images/icons/p-icon.svg" alt="icon" />
                        </div>
                    </div>
                    <!-- text wrapper  -->
                    <div>
                        <h2 class="text-body-16/24 md:text-body-20/28 mb-4">Essential for Youth</h2>
                        <div>
                            <h6 class="text-body-16/24 md:text-body-20/28 mb-2">Product Name</h6>
                            <p class="text-body-16/24 md:text-body-20/28">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mi est, viverra eget orci eget.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- BLogs content  -->
<section class="relative overflow-hidden">
    <div class="container px-3 mx-auto">
        <div class="pt-10 lg:pt-20">
            <!-- blog content  -->
            <div class="grid grid-cols-1 md:grid-cols-2 items-center">
                <!-- img content  -->
                <div class="w-full h-320 md:h-560 relative overflow-hidden rounded-[24px]">
                    <img src="assets/images/blogs/img-seven.png" alt="" class="w-full h-full object-cover" />
                </div>
                <!-- text content  -->
                <div class="md:ml-6 lg:ml-[135px] mt-6 md:mt-0">
                    <h6 class="text-body-16/24 md:text-body-20/28 uppercase mb-4 md:mb-6">DISCOVER THE BENEFITS</h6>

                    <h2 class="text-body-16/24 md:text-heading-three mb-4 md:mb-6">Up to 16 Times More Readily Absorbed by the Body</h2>

                    <blockquote>
                        <p class="text-body-14/20 md:text-body-20/28 mb-4 md:mb-6">The natural bio-carrier is prepared.</p>
                        <p class="text-body-14/20 md:text-body-20/28 mb-4 md:mb-6">
                            Saccharomyces cerevisiae (baker’s yeast) – a single celled microorganism known as “nutritional yeast” which is high in proteins, fibers, B vitamins, vitamin D, enzymes, probiotic, folate etc – is used.
                        </p>
                        <a href="blogs.html" class="underline text-body-16/24 md:text-body-20/28 hover:text-[#ABCE37]  transition-all">
                            View more
                        </a>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="py-10 lg:py-20">
            <!-- blog content  -->
            <div class="grid md:grid-cols-2 items-center">
                <!-- img content  -->
                <div class="w-full h-320 md:h-560 relative overflow-hidden rounded-[24px] order-1 md:order-2">
                    <img src="assets/images/blogs/img-six.png" alt="" class="w-full h-full object-cover" />
                </div>

                <!-- text content  -->
                <div class="md:mr-6 lg:mr-[135px] mt-6 md:mt-0 order-2 md:order-1">
                    <h6 class="text-body-16/24 md:text-body-20/28 uppercase mb-4 md:mb-6">DISCOVER THE BENEFITS</h6>

                    <h2 class="text-body-16/24 md:text-heading-three mb-4 md:mb-6">Backed by Nobel Peace Prize Technology</h2>

                    <blockquote>
                        <p class="text-body-14/20 md:text-body-20/28 mb-4 md:mb-6">The Ugly Truth</p>
                        <p class="text-body-14/20 md:text-body-20/28 mb-4 md:mb-6">
                            That vitamin or supplement you’re popping is probably terrible for you. 95% of the nutrients found in today’s health supplements are actually made from synthetic chemicals known as USP isolates.
                        </p>
                        <p class="text-body-14/20 md:text-body-20/28 mb-4 md:mb-6">
                            These cannot be readily absorbed by the body since they lack a delivery mechanism, and are instead passed right through your system and into the toilet.
                        </p>
                        <p class="text-body-14/20 md:text-body-20/28 mb-4 md:mb-6">
                            That’s why we invented NuFormat, a revolutionary blend of natural vitamins and minerals made of 100% food-state ingredients. It’s as good as taking a fully-balanced natural diet.
                        </p>
                        <a href="blogs.html" class="underline text-body-16/24 md:text-body-20/28 hover:text-[#ABCE37]  transition-all">
                            View more
                        </a>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Reviews  -->
<section class="relative overflow-hidden bg-white-fb py-10 lg:py-20">
    <div class="container px-3 mx-auto">
        <!-- section heading  -->
        <div class="mb-6 md:mb-10 text-center">
            <h2 class="text-body-20/28 md:text-heading-three mb-4 capitalize">our Reviews</h2>
            <p class="max-w-full md:max-w-md mx-auto">With thousands of NuFormat delivered, discover why customers trust us with their daily health.</p>
        </div>

        <!-- Review Slider  -->
        <div class="review relative">
            <div class="swiper review-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <!-- review card  -->
                        <div class="relative flex flex-col items-center bg-white rounded-2xl pb-14 transition-all duration-150 hover:shadow-md">
                            <div class="mb-2 md:mb-4 w-full text-center">
                                <!-- img content  -->
                                <a href="#" class="inline-block w-[80px] h-[80px] overflow-hidden rounded-full relative -mt-10">
                                    <img src="assets/images/users/user-one.png" alt="user" class="w-full h-full object-cover" />
                                </a>
                                <h2 class="text-body-16/24 md:text-body-20/28">Hannah Schmitt</h2>
                            </div>
                            <blockquote>
                                <p class="text-body-16/24 md:text-body-20/28 w-350 mx-auto text-center">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus nibh mauris, nec.
                                </p>
                            </blockquote>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <!-- review card  -->
                        <div class="relative flex flex-col items-center bg-white rounded-2xl pb-14 transition-all duration-150 hover:shadow-md">
                            <div class="mb-2 md:mb-4 w-full text-center">
                                <!-- img content  -->
                                <a href="#" class="inline-block w-[80px] h-[80px] overflow-hidden rounded-full relative -mt-10">
                                    <img src="assets/images/users/user-one.png" alt="user" class="w-full h-full object-cover" />
                                </a>
                                <h2 class="text-body-16/24 md:text-body-20/28">Hannah Schmitt</h2>
                            </div>
                            <blockquote>
                                <p class="text-body-16/24 md:text-body-20/28 w-350 mx-auto text-center">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus nibh mauris, nec.
                                </p>
                            </blockquote>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <!-- review card  -->
                        <div class="relative flex flex-col items-center bg-white rounded-2xl pb-14 transition-all duration-150 hover:shadow-md">
                            <div class="mb-2 md:mb-4 w-full text-center">
                                <!-- img content  -->
                                <a href="#" class="inline-block w-[80px] h-[80px] overflow-hidden rounded-full relative -mt-10">
                                    <img src="assets/images/users/user-one.png" alt="user" class="w-full h-full object-cover" />
                                </a>
                                <h2 class="text-body-16/24 md:text-body-20/28">Hannah Schmitt</h2>
                            </div>
                            <blockquote>
                                <p class="text-body-16/24 md:text-body-20/28 w-350 mx-auto text-center">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus nibh mauris, nec.
                                </p>
                            </blockquote>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <!-- review card  -->
                        <div class="relative flex flex-col items-center bg-white rounded-2xl pb-14 transition-all duration-150 hover:shadow-md">
                            <div class="mb-2 md:mb-4 w-full text-center">
                                <!-- img content  -->
                                <a href="#" class="inline-block w-[80px] h-[80px] overflow-hidden rounded-full relative -mt-10">
                                    <img src="assets/images/users/user-one.png" alt="user" class="w-full h-full object-cover" />
                                </a>
                                <h2 class="text-body-16/24 md:text-body-20/28">Hannah Schmitt</h2>
                            </div>
                            <blockquote>
                                <p class="text-body-16/24 md:text-body-20/28 w-350 mx-auto text-center">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus nibh mauris, nec.
                                </p>
                            </blockquote>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <!-- review card  -->
                        <div class="relative flex flex-col items-center bg-white rounded-2xl pb-14 transition-all duration-150 hover:shadow-md">
                            <div class="mb-2 md:mb-4 w-full text-center">
                                <!-- img content  -->
                                <a href="#" class="inline-block w-[80px] h-[80px] overflow-hidden rounded-full relative -mt-10">
                                    <img src="assets/images/users/user-one.png" alt="user" class="w-full h-full object-cover" />
                                </a>
                                <h2 class="text-body-16/24 md:text-body-20/28">Hannah Schmitt</h2>
                            </div>
                            <blockquote>
                                <p class="text-body-16/24 md:text-body-20/28 w-350 mx-auto text-center">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus nibh mauris, nec.
                                </p>
                            </blockquote>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <!-- review card  -->
                        <div class="relative flex flex-col items-center bg-white rounded-2xl pb-14 transition-all duration-150 hover:shadow-md">
                            <div class="mb-2 md:mb-4 w-full text-center">
                                <!-- img content  -->
                                <a href="#" class="inline-block w-[80px] h-[80px] overflow-hidden rounded-full relative -mt-10">
                                    <img src="assets/images/users/user-one.png" alt="user" class="w-full h-full object-cover" />
                                </a>
                                <h2 class="text-body-16/24 md:text-body-20/28">Hannah Schmitt</h2>
                            </div>
                            <blockquote>
                                <p class="text-body-16/24 md:text-body-20/28 w-350 mx-auto text-center">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus nibh mauris, nec.
                                </p>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination md:hidden"></div>
            </div>
            <!-- Slider Arrow  -->
            <div>
                <div class="swiper-button-next testimonial-btn--next">
                    <svg width="16" height="26" viewBox="0 0 16 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 23L13 13L3 3" stroke="currentColor" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
                <div class="swiper-button-prev testimonial-btn--prev">
                    <svg width="16" height="26" viewBox="0 0 16 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13 3L3 13L13 23" stroke="currentColor" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
            </div>
        </div>

        <!-- navigation to view  -->
        <div class="text-center pt-5 md:pt-10">
            <a href="reviews.html" class="capitalize text-body-16/24 lg:text-body-20/28 underline hover:text-[#ABCE37]  transition-all"> Read All Reviews</a>
        </div>
    </div>
</section>

<!-- Single Blog Content  -->
<section class="py-5 lg:py-20">
    <div class="container px-3 mx-auto">
        <!-- blog content  -->
        <div class="grid grid-cols-1 md:grid-cols-2 items-center">
            <!-- img content  -->
            <div class="w-full h-320 md:h-560 relative overflow-hidden rounded-[24px]">
                <img src="assets/images/blogs/img-seven.png" alt="" class="w-full h-full object-cover" />
            </div>
            <!-- text content  -->
            <div class="md:ml-6 lg:ml-[135px] mt-6 md:mt-0">
                <h6 class="text-body-16/24 md:text-body-20/28 uppercase mb-4 md:mb-6">DISCOVER THE BENEFITS</h6>

                <h2 class="text-body-16/24 md:text-heading-three mb-4 md:mb-6">Up to 16 Times More Readily Absorbed by the Body</h2>

                <blockquote>
                    <p class="text-body-14/20 md:text-body-20/28 mb-4 md:mb-6">The natural bio-carrier is prepared.</p>
                    <p class="text-body-14/20 md:text-body-20/28 mb-4 md:mb-6">
                        Saccharomyces cerevisiae (baker’s yeast) – a single celled microorganism known as “nutritional yeast” which is high in proteins, fibers, B vitamins, vitamin D, enzymes, probiotic, folate etc – is used.
                    </p>
                    <a href="blogs.html" class="underline text-body-16/24 md:text-body-20/28 hover:text-[#ABCE37]  transition-all">
                        View more
                    </a>
                </blockquote>
            </div>
        </div>
    </div>
</section>

<!-- feature  -->
<section class="relative overflow-hidden py-10 lg:py-20 bg-white-fb">
    <div class="container mx-auto px-3">
        <!-- feature content  -->
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-6">
            <div>
                <!-- feature  -->
                <div class="relative text-center">
                    <!-- logo -->
                    <div class="bg-white shadow-box-2 w-104 h-104 rounded-full overflow-hidden flex items-center justify-center mb-4 mx-auto">
                        <img src="assets/images/icons/package.svg" alt="icon" />
                    </div>
                    <!-- text content  -->
                    <div>
                        <h2 class="text-body-16/24 md:text-body-20/28 capitalize mb-2">Doorstep Delivery</h2>
                        <p class="text-body-16/24 md:text-body-20/28">
                            Enjoy FREE delivery with min. spend
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <!-- feature  -->
                <div class="relative text-center">
                    <!-- logo -->
                    <div class="bg-white shadow-box-2 w-104 h-104 rounded-full overflow-hidden flex items-center justify-center mb-4 mx-auto">
                        <img src="assets/images/icons/secure.svg" alt="icon" />
                    </div>
                    <!-- text content  -->
                    <div>
                        <h2 class="text-body-16/24 md:text-body-20/28 capitalize mb-2">Safe & Secure</h2>
                        <p class="text-body-16/24 md:text-body-20/28">
                            Your Information & Payment is safe with us
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <!-- feature  -->
                <div class="relative text-center">
                    <!-- logo -->
                    <div class="bg-white shadow-box-2 w-104 h-104 rounded-full overflow-hidden flex items-center justify-center mb-4 mx-auto">
                        <img src="assets/images/icons/shakes.svg" alt="icon" />
                    </div>
                    <!-- text content  -->
                    <div>
                        <h2 class="text-body-16/24 md:text-body-20/28 capitalize mb-2">Online Exclusive</h2>
                        <p class="text-body-16/24 md:text-body-20/28">
                            Discover Online Exclusive Deals
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <!-- feature  -->
                <div class="relative text-center">
                    <!-- logo -->
                    <div class="bg-white shadow-box-2 w-104 h-104 rounded-full overflow-hidden flex items-center justify-center mb-4 mx-auto">
                        <img src="assets/images/icons/comments.svg" alt="icon" />
                    </div>
                    <!-- text content  -->
                    <div>
                        <h2 class="text-body-16/24 md:text-body-20/28 capitalize mb-2">Need Help?</h2>
                        <p class="text-body-16/24 md:text-body-20/28">
                            Chat with our expert advisors
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <!-- feature  -->
                <div class="relative text-center">
                    <!-- logo -->
                    <div class="bg-white shadow-box-2 w-104 h-104 rounded-full overflow-hidden flex items-center justify-center mb-4 mx-auto">
                        <img src="assets/images/icons/frame.svg" alt="icon" />
                    </div>
                    <!-- text content  -->
                    <div>
                        <h2 class="text-body-16/24 md:text-body-20/28 capitalize mb-2">100% Money Back</h2>
                        <p class="text-body-16/24 md:text-body-20/28">
                            Lorem ipsum dolor sit amet, consectetur.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- instagram post  -->
<section class="relative overflow-hidden pt-10 pb-5 md:pt-20 md:pb-10">
    <div class="container mx-auto px-3">
        <!-- section heading  -->
        <div class="flex items-center justify-center md:justify-between mb-5 lg:mb-10">
            <!-- title -->
            <h2 class="text-body-20/28 md:text-heading-three">Check Us Out on Instagram</h2>

            <!-- slider button  -->
            <div class="hidden md:block">
                <div class="flex items-center justify-between space-x-8">
                    <div class="instagram-btn--prev text-center group">
                        <p class="text-body-16/24 mb-2 group-hover:opacity-75 text-gray-71">Prev</p>
                        <span class="block group-hover:opacity-75">
                            <svg width="59" height="12" viewBox="0 0 59 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <line x1="59" y1="6" x2="5" y2="6" stroke="currentColor" stroke-width="2"/>
                                <path d="M6 0L6 12L-5.24537e-07 6L6 0Z" fill="currentColor"/>
                              </svg>
                        </span>
                    </div>
                    <div class="instagram-btn--next text-center group">
                        <p class="text-body-16/24 mb-2 group-hover:opacity-75">Next</p>
                        <span class="block group-hover:opacity-75">
                            <svg width="59" height="12" viewBox="0 0 59 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <line y1="6" x2="54" y2="6" stroke="currentColor" stroke-width="2"/>
                                <path d="M53 12V0L59 6L53 12Z" fill="currentColor"/>
                              </svg>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <!-- post slider  -->
        <div class="swiper post-slider">
            <div class="swiper-wrapper pb-5 md:pb-10 m-0">
                <div class="swiper-slide">
                    <!-- post card  -->
                    <a href="#" class="relative overflow-hidden w-full h-260 md:h-306 rounded-lg inline-block">
                        <img src="assets/images/posts/img-one.png" alt="post-img" class="w-full h-full object-cover" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <!-- post card  -->
                    <a href="#" class="relative overflow-hidden w-full h-260 md:h-306 rounded-lg inline-block">
                        <img src="assets/images/posts/img-two.png" alt="post-img" class="w-full h-full object-cover" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <!-- post card  -->
                    <a href="#" class="relative overflow-hidden w-full h-260 md:h-306 rounded-lg inline-block">
                        <img src="assets/images/posts/img-three.png" alt="post-img" class="w-full h-full object-cover" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <!-- post card  -->
                    <a href="#" class="relative overflow-hidden w-full h-260 md:h-306 rounded-lg inline-block">
                        <img src="assets/images/posts/img-four.png" alt="post-img" class="w-full h-full object-cover" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <!-- post card  -->
                    <a href="#" class="relative overflow-hidden w-full h-260 md:h-306 rounded-lg inline-block">
                        <img src="assets/images/posts/img-one.png" alt="post-img" class="w-full h-full object-cover" />
                    </a>
                </div>
            </div>
            <div class="swiper-pagination md:hidden"></div>
        </div>
    </div>
</section>

{% endblock %}
