{% extends "layout/layout.html" %} {% block content %}


<!-- Our certification  -->
<section class="relative overflow-hidden py-10 lg:py-20 bg-white-f8">
    <div class="container px-3 mx-auto">
        <!-- section heading -->
        <div class="text-center">
            <h2 class=" text-body-20/28 md:text-heading-three mb-6 md:mb-10 ">Our Certifications</h2>
        </div>
        <!-- certification content  -->
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 ">
            <div>
                <!-- certificate  -->
                <div class="relative text-center">
                    <!-- logo  -->
                    <a href="#" class="inline-block mb-2 md:mb-4">
                        <img src="assets/images/brands/gmp.png" alt="">
                    </a>
                    <p class="text-body-14/20 md:text-body-20/28 font-light">Good Manufacturing Practice</p>
                </div>
            </div>
            <div>
                <!-- certificate  -->
                <div class="relative text-center">
                    <!-- logo  -->
                    <a href="#" class="inline-block mb-2 md:mb-4">
                        <img src="assets/images/brands/usda-lg.png" alt="">
                    </a>
                    <p class="text-body-14/20 md:text-body-20/28 font-light">USDA Organic</p>
                </div>
            </div>
            <div>
                <!-- certificate  -->
                <div class="relative text-center">
                    <!-- logo  -->
                    <a href="#" class="inline-block mb-2 md:mb-4">
                        <img src="assets/images/brands/non-lg.png" alt="">
                    </a>
                    <p class="text-body-14/20 md:text-body-20/28 font-light">Non-GMO Verified</p>
                </div>
            </div>
            <div>
                <!-- certificate  -->
                <div class="relative text-center">
                    <!-- logo  -->
                    <a href="#" class="inline-block mb-2 md:mb-4">
                        <img src="assets/images/brands/vegan-lg.png" alt="">
                    </a>
                    <p class="text-body-14/20 md:text-body-20/28 font-light">Certified Vegan</p>
                </div>
            </div>
        </div>
        <!-- navigation -->
        <div class=" mt-6 md:mt-10 text-center">
            <a href="certification.html" class="underline text-body-16/24 md:text-body-20/28 ">View More</a>
        </div>
    </div>
</section>

<!-- Featured Products  -->
<section class="relative overflow-hidden py-10 lg:py-20">
    <div class="container px-3 mx-auto">
        <!-- section heading -->
        <div class="flex items-center justify-center md:justify-between mb-6 md:mb-10 ">
            <!-- title -->
            <h2 class="text-body-20/28 md:text-heading-three ">Featured Products</h2>
            <a href="certification.html" class=" hidden  md:block underline text-body-16/24 md:text-body-20/28 ">View More</a>
        </div>

        <!-- Product content  -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            <div>
                <!-- product -->
                <div>
                    <div class="relative overflow-hidden bg-white-f8 rounded-2xl py-7 md:py-10 flex items-center justify-center  w-full h-full mb-6  md:mb-10">
                        <!-- product img  -->
                        <div class="w-195 h-280">
                            <img src="assets/images/all-img/cap.png" alt="">
                        </div>
                        <!-- product icon  -->
                        <div class="absolute overflow-hidden top-6 left-6 w-14 h-14 rounded-full border-2 border-[#E8E7FE] flex items-center justify-center bg-white pointer-events-none">
                            <img src="assets/images/icons/p-icon.svg" alt="icon">
                        </div>
                    </div>
                    <!-- text wrapper  -->
                    <div>
                        <h2 class="text-body-16/24 md:text-body-20/28 mb-4">Essential for Women</h2>
                        <div>
                            <h6 class="text-body-16/24 md:text-body-20/28 mb-2">Product Name</h6>
                            <p class="text-body-16/24 md:text-body-20/28">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mi est, viverra eget orci eget. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <!-- product -->
                <div>
                    <div class="relative overflow-hidden bg-white-f8 rounded-2xl py-7 md:py-10 flex items-center justify-center  w-full h-full mb-6  md:mb-10">
                        <!-- product img  -->
                        <div class="w-195 h-280">
                            <img src="assets/images/all-img/cap.png" alt="">
                        </div>
                        <!-- product icon  -->
                        <div class="absolute overflow-hidden top-6 left-6 w-14 h-14 rounded-full border-2 border-[#E8E7FE] flex items-center justify-center bg-white pointer-events-none">
                            <img src="assets/images/icons/p-icon.svg" alt="icon">
                        </div>
                    </div>
                    <!-- text wrapper  -->
                    <div>
                        <h2 class="text-body-16/24 md:text-body-20/28 mb-4">Essential for Men</h2>
                        <div>
                            <h6 class="text-body-16/24 md:text-body-20/28 mb-2">Product Name</h6>
                            <p class="text-body-16/24 md:text-body-20/28">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mi est, viverra eget orci eget. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <!-- product -->
                <div>
                    <div class="relative overflow-hidden bg-white-f8 rounded-2xl py-7 md:py-10 flex items-center justify-center  w-full h-full mb-6  md:mb-10">
                        <!-- product img  -->
                        <div class="w-195 h-280">
                            <img src="assets/images/all-img/cap.png" alt="">
                        </div>
                        <!-- product icon  -->
                        <div class="absolute overflow-hidden top-6 left-6 w-14 h-14 rounded-full border-2 border-[#E8E7FE] flex items-center justify-center bg-white pointer-events-none">
                            <img src="assets/images/icons/p-icon.svg" alt="icon">
                        </div>
                    </div>
                    <!-- text wrapper  -->
                    <div>
                        <h2 class="text-body-16/24 md:text-body-20/28 mb-4">Essential for Youth</h2>
                        <div>
                            <h6 class="text-body-16/24 md:text-body-20/28 mb-2">Product Name</h6>
                            <p class="text-body-16/24 md:text-body-20/28">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mi est, viverra eget orci eget. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


{% endblock %}
