{% extends "layout/layout.html" %} {% block content %}

<!-- Banner  -->
<section class="banner relative overflow-hidden py-16 md:py-0 md:h-550"
    style="background: url('assets/images/all-img/bg-five.png') center center/cover no-repeat;">
    <div class="container mx-auto px-3">
        <!-- text content  -->
        <div class="max-w-2xl md:mt-120">
            <h2 class="text-heading-four md:text-heading-one text-white">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit</h2>
        </div>
    </div>
</section>

<section class="py-6 md:py-20 lg:py-12">
    <div class="container mx-auto px-3">
        <div class="mb-10">
            <h2 class="text-gray-71 text-heading-four md:text-heading-one">Our Journey</h2>
        </div>
        <div class="pb-8 lg:border-b lg:border-gray-cb">
            <div class="row">
                <div class="grid grid-cols-12 gap-6 items-center">
                    <div class="lg:col-span-5 md:col-span-7 col-span-12 relative custom-circle h-full large-circle">
                        <div>
                            <div class="md:flex mb-6 items-end">
                                <div class="flex-shrink-0 mb-4 md:mb-0 mr-4">
                                    <img src="assets/images/all-img/thumb1.png" alt="">
                                </div>
                                <div>
                                    <p class="text-gray-71 text-body-16/24 sm:text-body-20/28 font-normal">“Praesentium
                                        debitis id. Aut animi
                                        vero totam
                                        accusamus sed odit amet. Dicta perferendis.”</p>
                                </div>
                            </div>
                            <div class="xl:pl-24 xl:pr-28">
                                <img class="mb-4" src="assets/images/icons/1937.svg" alt="">
                                <h4 class="text-gray-71 text-body-16/24 sm:text-body-20/28 mb-4">A Scientific
                                    Breakthrough
                                </h4>
                                <p class="text-gray-71 text-body-16/24 sm:text-body-20/28">Praesentium debitis id. Aut
                                    animi
                                    vero totam
                                    accusamus sed odit amet. Dicta perferendis tenetur corporis eaque sunt
                                    labore nulla.</p>
                            </div>
                        </div>
                    </div>
                    <div class="lg:col-span-4 md:col-span-5 col-span-12 relative custom-circle h-full">
                        <div>
                            <div class="md:flex mb-6 items-end">
                                <div class="flex-shrink-0 mb-4 md:mb-0 md:mr-4">
                                    <img src="assets/images/all-img/thumb2.png" alt="">
                                </div>
                                <div>
                                    <img class="mb-4" src="assets/images/icons/1946.svg" alt="">
                                </div>
                            </div>
                            <div class="lg:pr-28">
                                <h4 class="text-gray-71 text-body-16/24 sm:text-body-20/28 mb-4">Research furthered
                                    by Dr. Andrew Szalay</h4>
                                <p class="text-gray-71 text-body-16/24 sm:text-body-20/28">Praesentium debitis id. Aut
                                    animi
                                    vero totam
                                    accusamus sed odit amet. Dicta perferendis tenetur corporis eaque sunt
                                    labore nulla</p>
                            </div>
                        </div>
                    </div>
                    <div class="lg:col-span-3 col-span-12 items-center relative custom-circle h-full">
                        <div>
                            <img class="mb-4" src="assets/images/icons/1956.svg" alt="">
                            <h4 class="text-gray-71 text-body-16/24 sm:text-body-20/28 mb-6">Escape from the Iron
                                Curtain
                            </h4>
                            <p class="text-gray-71 text-body-16/24 sm:text-body-20/28">Praesentium debitis id. Aut animi
                                vero totam accusamus
                                sed odit amet. Dicta perferendis tenetur corporis eaque sunt
                                labore nulla Praesentium debitis id.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- end -->
        <div class="lg:border-b lg:border-r border-gray-cb pt-5 lg:pt-24 lg:pr-6 pb-8">
            <div class="row">
                <div class="grid grid-cols-12 gap-6">
                    <div
                        class="lg:col-span-4 col-span-12 xl:flex items-end relative custom-circle h-full xl:ml-24 xl:mr-28">
                        <div class="">
                            <img class="mb-4" src="assets/images/icons/1993.svg" alt="">
                            <h4 class="text-gray-71 text-body-16/24 sm:text-body-20/28 mb-4">The Battle is Won
                            </h4>
                            <p class="text-gray-71 text-body-16/24 sm:text-body-20/28">Praesentium debitis id. Aut animi
                                vero totam accusamus sed odit amet. Dicta perferendis enetur. Praesentium debitis id.
                                Aut animi vero totam accusamus sed odit amet.</p>
                        </div>
                    </div>
                    <div class="lg:col-span-5 md:col-span-6 col-span-12 relative custom-circle h-full">
                        <div class="lg:pr-20">
                            <div class="mb-7">
                                <img src="assets/images/all-img/thumb3.png" alt="">
                            </div>
                            <div>
                                <img class="mb-4" src="assets/images/icons/1990.svg" alt="">
                                <h4 class="text-gray-71 text-body-16/24 sm:text-body-20/28 mb-4">A Scientific
                                    Breakthrough
                                </h4>
                                <p class="text-gray-71 text-body-16/24 sm:text-body-20/28">Praesentium debitis id. Aut
                                    animi
                                    vero totam accusamus sed odit amet. Dicta perferendis enetur. Praesentium debitis
                                    idut
                                    animi vero totam accusamus sed odit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="lg:col-span-3 md:col-span-6 col-span-12 items-center relative custom-circle h-full">
                        <div class="mb-7">
                            <img src="assets/images/all-img/thumb4.png" alt="">
                        </div>
                        <div>
                            <img class="mb-4" src="assets/images/icons/1977.svg" alt="">
                            <h4 class="text-gray-71 text-body-16/24 sm:text-body-20/28 mb-6">Escape from the Iron
                                Curtain
                            </h4>
                            <p class="text-gray-71 text-body-16/24 sm:text-body-20/28">Praesentium debitis id. Aut animi
                                vero totam accusamus
                                sed odit amet. Dicta perferendis tenetur corporis eaque sunt
                                labore nulla Praesentium debitis id.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- end -->
        <div class="lg:border-l border-gray-cb py-5 lg:py-24 custom-border relative">
            <div class="row">
                <div class="grid grid-cols-12 gap-6">
                    <div class="lg:col-span-6 col-span-12 lg:mx-28 relative custom-circle h-full small-circle">
                        <div>
                            <img class="mb-4" src="assets/images/icons/1994.svg" alt="">
                            <h4 class="text-gray-71 text-body-16/24 sm:text-body-20/28 mb-4">Founding of Biocomm
                            </h4>
                            <p class="text-gray-71 text-body-16/24 sm:text-body-20/28 mb-5">Praesentium debitis id. Aut
                                animi
                                vero totam acc usamus sed odit amet. Dicta perferendis ten etur. Praesentium debitis
                                id. Aut animi vero tota m accus amus sed odit amet.</p>
                            <img class="mb-4" src="assets/images/icons/logo.svg" alt="">
                        </div>
                    </div>
                    <div class="lg:col-span-6 col-span-12 lg:ml-12 lg:mr-32 relative custom-circle h-full small-circle">
                        <div>
                            <img class="mb-4" src="assets/images/icons/1999.svg" alt="">
                            <h4 class="text-gray-71 text-body-16/24 sm:text-body-20/28 mb-4">A Partnership is Formed
                            </h4>
                            <p class="text-gray-71 text-body-16/24 sm:text-body-20/28">Daniel visited Dr. Andrew Szalay
                                at
                                Grow Company in New Jersey in hunger to search for the best nutrients in the world.
                                This began their joint mission of creating supplements that delivered the best nutrients
                                for
                                the body and giving access
                                to everyone worldwide..</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="row">
                <div class="grid grid-cols-12 gap-6">
                    <div class="lg:col-span-4 col-span-12 lg:order-2">
                        <div class="lg:pl-28">
                            <img class="mb-4" src="assets/images/icons/2003.svg" alt="">
                            <h4 class="text-gray-71 text-body-16/24 sm:text-body-20/28 mb-4">Founding of Nuformat
                            </h4>
                            <p class="text-gray-71 text-body-16/24 sm:text-body-20/28">Daniel launched Nu-Format, a
                                series of health supplements incorporated with the food state nutrients and minerals
                                from
                                Grow Company in Singapore.</p>
                        </div>
                    </div>
                    <div class="lg:col-span-8 col-span-12 pt-14 map-border relative">
                        <div>
                            <img class="mb-4" src="assets/images/all-img/map.png" alt="">
                        </div>
                        <div class="map-circle"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

{% endblock %}