{% extends "layout/layout.html" %} {% block content %}

<!-- Banner  -->
<section class="banner relative overflow-hidden py-16 md:py-0 md:h-550"
    style="background: url('assets/images/all-img/bg-five.png') center center/cover no-repeat;">
    <div class="container mx-auto px-3">
        <!-- text content  -->
        <div class="max-w-2xl md:mt-120">
            <h2 class="text-heading-four md:text-heading-one text-white">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit</h2>
        </div>
    </div>
</section>

<section class=" py-6 md:py-20 lg:py-12">
    <div class="container mx-auto px-3">
        <div class="mb-10">
            <h2 class="text-gray-71 text-heading-four md:text-heading-one">Our Journey</h2>
        </div>
        <div class="row">
            <div class="grid grid-cols-12 gap-6 items-center">
                <div class="lg:col-span-5 md:col-span-7 col-span-12">
                    <div>
                        <div class="md:flex mb-6 items-end">
                            <div class="flex-shrink-0 mb-4 md:mb-0 mr-4">
                                <img src="assets/images/all-img/thumb1.png" alt="">
                            </div>
                            <div>
                                <p class="text-gray-71 text-body-16/24 sm:text-body-20/28 font-normal">“Praesentium
                                    debitis id. Aut animi
                                    vero totam
                                    accusamus sed odit amet. Dicta perferendis.”</p>
                            </div>
                        </div>
                        <div class="lg:pl-24 lg:pr-28">
                            <img class="mb-4" src="assets/images/icons/1937.svg" alt="">
                            <h4 class="text-gray-71 text-body-16/24 sm:text-body-20/28 mb-4">A Scientific Breakthrough
                            </h4>
                            <p class="text-gray-71 text-body-16/24 sm:text-body-20/28">Praesentium debitis id. Aut animi
                                vero totam
                                accusamus sed odit amet. Dicta perferendis tenetur corporis eaque sunt
                                labore nulla.</p>
                        </div>
                    </div>
                </div>
                <div class="lg:col-span-4 md:col-span-5 col-span-12">
                    <div>
                        <div class="md:flex mb-6 items-end">
                            <div class="flex-shrink-0 mb-4 md:mb-0 md:mr-4">
                                <img src="assets/images/all-img/thumb2.png" alt="">
                            </div>
                            <div>
                                <img class="mb-4" src="assets/images/icons/1946.svg" alt="">
                            </div>
                        </div>
                        <div class="lg:pr-28">
                            <h4 class="text-gray-71 text-body-16/24 sm:text-body-20/28 mb-4">Research furthered
                                by Dr. Andrew Szalay</h4>
                            <p class="text-gray-71 text-body-16/24 sm:text-body-20/28">Praesentium debitis id. Aut animi
                                vero totam
                                accusamus sed odit amet. Dicta perferendis tenetur corporis eaque sunt
                                labore nulla</p>
                        </div>
                    </div>
                </div>
                <div class="lg:col-span-3 col-span-12 items-center">
                    <div>
                        <img class="mb-4" src="assets/images/icons/1956.svg" alt="">
                        <h4 class="text-gray-71 text-body-16/24 sm:text-body-20/28 mb-6">Escape from the Iron Curtain
                        </h4>
                        <p class="text-gray-71 text-body-16/24 sm:text-body-20/28">Praesentium debitis id. Aut animi
                            vero totam accusamus
                            sed odit amet. Dicta perferendis tenetur corporis eaque sunt
                            labore nulla Praesentium debitis id.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="grid grid-cols-12 gap-6">
                <div class="lg:col-span-4 md:col-span-7 col-span-12 lg:flex items-end">
                    <div class="lg:pl-24 lg:pr-28">
                        <img class="mb-4" src="assets/images/icons/1993.svg" alt="">
                        <h4 class="text-gray-71 text-body-16/24 sm:text-body-20/28 mb-4">The Battle is Won
                        </h4>
                        <p class="text-gray-71 text-body-16/24 sm:text-body-20/28">Praesentium debitis id. Aut animi
                            vero totam accusamus sed odit amet. Dicta perferendis enetur. Praesentium debitis id.
                            Aut animi vero totam accusamus sed odit amet.</p>
                    </div>
                </div>
                <div class="lg:col-span-5 md:col-span-5 col-span-12">
                    <div class="lg:pr-20">
                        <div class="mb-7">
                            <img src="assets/images/all-img/thumb3.png" alt="">
                        </div>
                        <div>
                            <img class="mb-4" src="assets/images/icons/1990.svg" alt="">
                            <h4 class="text-gray-71 text-body-16/24 sm:text-body-20/28 mb-4">A Scientific Breakthrough
                            </h4>
                            <p class="text-gray-71 text-body-16/24 sm:text-body-20/28">Praesentium debitis id. Aut animi
                                vero totam accusamus sed odit amet. Dicta perferendis enetur. Praesentium debitis idut
                                animi vero totam accusamus sed odit.</p>
                        </div>
                    </div>
                </div>
                <div class="lg:col-span-3 col-span-12 items-center">
                    <div class="mb-7">
                        <img src="assets/images/all-img/thumb4.png" alt="">
                    </div>
                    <div>
                        <img class="mb-4" src="assets/images/icons/1956.svg" alt="">
                        <h4 class="text-gray-71 text-body-16/24 sm:text-body-20/28 mb-6">Escape from the Iron Curtain
                        </h4>
                        <p class="text-gray-71 text-body-16/24 sm:text-body-20/28">Praesentium debitis id. Aut animi
                            vero totam accusamus
                            sed odit amet. Dicta perferendis tenetur corporis eaque sunt
                            labore nulla Praesentium debitis id.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}