{% extends "layout/layout.html" %} {% block content %}

<!-- Banner  -->
<section class="banner relative overflow-hidden py-16 md:py-0 md:h-550" style="background: url('assets/images/all-img/bg-two.png') center center/cover no-repeat;">
    <div class="container mx-auto px-3">
        <!-- text content  -->
        <div class="max-w-2xl md:mt-120">
            <h2 class="text-heading-four md:text-heading-one text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
        </div>
    </div>
</section>


{% endblock %}
