{% extends "layout/layout.html" %} {% block content %}


<!--  Product details -->
<section class="relative overflow-hidden py-10 lg:py-20">
    <div class="container px-3 mx-auto">
        <!-- blog content  -->
        <div class="grid grid-cols-1 md:grid-cols-2 items-center">
            <!-- img content  -->
            <div class="w-full h-320 md:h-560 relative overflow-hidden rounded-[16px]">
                <img src="assets/images/blogs/img-seven.png" class="w-full h-full object-cover" alt="blog-img" />
            </div>
            <!-- text content  -->
            <div class="md:ml-6 lg:ml-[112px] mt-6 md:mt-0">
                <div class="mb-6 md:mb-10 "> 
                <h2 class="text-heading-four md:text-heading-one mb-4 md:mb-6">Vitamin U + Probiotics / Digestive Health</h2>

                <blockquote>
                 
                    <p class="text-body-14/20 md:text-body-20/28 mb-4 md:mb-6">
                        Saccharomyces cerevisiae (baker’s yeast) – a single celled microorganism known as “nutritional yeast” which is high in proteins, fibers, B vitamins, vitamin D, enzymes, probiotic, folate etc – is used.
                    </p>
                    <a href="blogs.html" class="underline text-body-16/24 md:text-body-20/28">
                        Supplement Facts
                    </a>
                </blockquote>
                </div>
                 <div>
                    <button class="flex items-center justify-center overflow-hidden w-full sm:w-[306px] h-[56px] text-white hover:text-gray-71 bg-[#ABCE37] hover:bg-white transition-all rounded-[40px] uppercase text-body-16/24 md:text-body-20/28 shadow-sm hover:shadow-button">Add to Cart – $30</button>

                    <div class=" mt-4 md:mt-6">
                        <h2 class="uppercase text-body-16/24 mb-2 font-bold ">MONTHLY SUBSCRIPTION BENEFITS</h2>
                        <ul>
                            <li>
                                <p class=" text-body-16/24 md:text-body-20/28 capitalize font-light">Free Shipping, Always</p>
                            </li>
                            <li>
                                <p class=" text-body-16/24 md:text-body-20/28 capitalize font-light"> 30-Day Money Back Guarantee</p>
                            </li>
                            <li>
                                <p class=" text-body-16/24 md:text-body-20/28 capitalize font-light">Easy Cancellation, Anytime</p>
                            </li>
                        </ul>
                    </div>
                 </div>
            </div>
        </div>
    </div>

    <!-- product feature  -->
    <div class="relative overflow-hidden  mt-10 lg:mt-20 ">
        <div class="container px-3 mx-auto">
            <!-- feature content  -->
            <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-6">
                <div>
                        <!-- feature  -->
                        <div class=" flex flex-col items-center">
                            <!-- icon -->
                            <div class="mb-4">
                                <img src="assets/images/icons/immune.svg" alt="icon">
                            </div>
                            <p class="text-body-20/28 capitalize">Immunity</p>
                        </div>
                </div>
                <div>
                        <!-- feature  -->
                        <div class=" flex flex-col items-center">
                            <!-- icon -->
                            <div class="mb-4">
                                <img src="assets/images/icons/bolt.svg" alt="icon">
                            </div>
                            <p class="text-body-20/28 capitalize">Energy</p>
                        </div>
                </div>
                <div>
                        <!-- feature  -->
                        <div class=" flex flex-col items-center">
                            <!-- icon -->
                            <div class="mb-4">
                                <img src="assets/images/icons/immune.svg" alt="icon">
                            </div>
                            <p class="text-body-20/28 capitalize">Immunity</p>
                        </div>
                </div>
                <div>
                        <!-- feature  -->
                        <div class=" flex flex-col items-center">
                            <!-- icon -->
                            <div class="mb-4">
                                <img src="assets/images/icons/bolt.svg" alt="icon">
                            </div>
                            <p class="text-body-20/28 capitalize">Energy</p>
                        </div>
                </div>
                <div>
                        <!-- feature  -->
                        <div class=" flex flex-col items-center">
                            <!-- icon -->
                            <div class="mb-4">
                                <img src="assets/images/icons/immune.svg" alt="icon">
                            </div>
                            <p class="text-body-20/28 capitalize">Immunity</p>
                        </div>
                </div>
                <div>
                        <!-- feature  -->
                        <div class=" flex flex-col items-center">
                            <!-- icon -->
                            <div class="mb-4">
                                <img src="assets/images/icons/bolt.svg" alt="icon">
                            </div>
                            <p class="text-body-20/28 capitalize">Energy</p>
                        </div>
                </div>
            </div>
        </div>
    </div>

</section>



<!-- neutration  -->
<div class="relative overflow-hidden pb-10 lg:pb-20">
    <div class="container px-3 mx-auto">
        <!-- neutration content  -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            <div>
                <!-- neutration card  -->
                <div class="relative overflow-hidden p-6 bg-white-f8 flex items-center rounded-2xl">
                    <!-- img  -->
                    <div class="mr-6">
                        <img src="assets/images/all-img/vitamin.png" alt="icon">
                    </div>
                    <p class="text-body-20/28">Vitamin C</p>
                </div>
            </div>
            <div>
                <!-- neutration card  -->
                <div class="relative overflow-hidden p-6 bg-white-f8 flex items-center rounded-2xl">
                    <!-- img  -->
                    <div class="mr-6">
                        <img src="assets/images/all-img/zinc.png" alt="icon">
                    </div>
                    <p class="text-body-20/28">Zinc</p>
                </div>
            </div>
            <div>
                <!-- neutration card  -->
                <div class="relative overflow-hidden p-6 bg-white-f8 flex items-center rounded-2xl">
                    <!-- img  -->
                    <div class="mr-6">
                        <img src="assets/images/all-img/lemon.png" alt="icon">
                    </div>
                    <p class="text-body-20/28">Bioflavonoids</p>
                </div>
            </div>
            <div>
                <!-- neutration card  -->
                <div class="relative overflow-hidden p-6 bg-white-f8 flex items-center rounded-2xl">
                    <!-- img  -->
                    <div class="mr-6">
                        <img src="assets/images/all-img/vitamin.png" alt="icon">
                    </div>
                    <p class="text-body-20/28">Vitamin C</p>
                </div>
            </div>
            <div>
                <!-- neutration card  -->
                <div class="relative overflow-hidden p-6 bg-white-f8 flex items-center rounded-2xl">
                    <!-- img  -->
                    <div class="mr-6">
                        <img src="assets/images/all-img/zinc.png" alt="icon">
                    </div>
                    <p class="text-body-20/28">Zinc</p>
                </div>
            </div>
            <div>
                <!-- neutration card  -->
                <div class="relative overflow-hidden p-6 bg-white-f8 flex items-center rounded-2xl">
                    <!-- img  -->
                    <div class="mr-6">
                        <img src="assets/images/all-img/lemon.png" alt="icon">
                    </div>
                    <p class="text-body-20/28">Bioflavonoids</p>
                </div>
            </div>
        </div>
        <!-- navigate  -->
        <div class="text-center mt-10 lg:mt-20">
            <a href="#" class="underline capitalize text-body-20/28 ">See All 9</a>
        </div>
    </div>
</div>


<!-- Blog Content  -->
<section class="relative overflow-hidden py-10 lg:py-20 bg-white-f8 ">
    <div class="container px-3 mx-auto">
        <!-- blog content  -->
        <div class="grid grid-cols-1 md:grid-cols-2 items-center">
            <!-- img content  -->
            <div class="w-full h-320 md:h-560 relative overflow-hidden rounded-[24px]">
                <img src="assets/images/blogs/img-seven.png" alt="" class="w-full h-full object-cover" />
            </div>
            <!-- text content  -->
            <div class="md:ml-6 lg:ml-[135px] mt-6 md:mt-0">
                <h6 class="text-body-16/24 md:text-body-20/28 uppercase mb-4 md:mb-6">DISCOVER THE BENEFITS</h6>

                <h2 class="text-body-16/24 md:text-heading-three mb-4 md:mb-6">Up to 16 Times More Readily Absorbed by the Body</h2>

                <blockquote>
                    <p class="text-body-14/20 md:text-body-20/28 mb-4 md:mb-6">The natural bio-carrier is prepared.</p>
                    <p class="text-body-14/20 md:text-body-20/28 mb-4 md:mb-6">
                        Saccharomyces cerevisiae (baker’s yeast) – a single celled microorganism known as “nutritional yeast” which is high in proteins, fibers, B vitamins, vitamin D, enzymes, probiotic, folate etc – is used.
                    </p>
                    <a href="blogs.html" class="underline text-body-16/24 md:text-body-20/28 hover:text-[#ABCE37]  transition-all">
                        View more
                    </a>
                </blockquote>
            </div>
        </div>
    </div>
</section>


<!-- Faq  -->
<section class="relative overflow-hidden py-10 lg:py-20">
    <div class="container px-3 mx-auto">
        <!-- section heading  -->
        <div class="text-center mb-6 lg:mb-10">
            <h5 class=" text-heading-four md:text-heading-three capitalize">We Want You to Ask Questions</h5>
        </div>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item bg-white  border-y border-[#5B677152] rounded-[0px !important] ">
              <h2 class="accordion-header mb-0 rounded-none" id="headingOne">
                <button
                  class="
                    accordion-button
                    relative
                    flex
                    items-center
                    w-full
                    py-10 lg:py-10
                    text-left
                    bg-white
                    border-0
                    rounded-none
                    transition
                    focus:outline-none
                    text-body-16/24
                    md:text-body-20/28 
                  "
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperi?
                </button>
              </h2>
              <div
                id="collapseOne"
                class="accordion-collapse collapse show"
                aria-labelledby="headingOne"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body py-6">
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore soluta dolorem deleniti odio pariatur vel alias consequatur perspiciatis dolorum voluptatem aut ipsum ab neque cumque earum nulla fugiat, expedita atque. Ducimus, nam! Porro beatae sit doloribus reiciendis perspiciatis earum veritatis? Mollitia dolorum itaque repudiandae, facilis nesciunt doloribus voluptatem, consectetur ipsa optio aliquid alias at sit excepturi aperiam praesentium porro inventore, eaque consequatur necessitatibus quisquam! Vero tenetur odio asperiores dolorem. Provident fugit harum doloribus quisquam facilis ex consequatur asperiores, maiores in, magni laudantium. Vitae iure praesentium reiciendis dolorum, explicabo iusto cupiditate natus aut officiis cumque quam rerum nesciunt magnam minus dolor optio, commodi quo? Ab tempora voluptatem nihil reprehenderit magni. Delectus soluta animi exercitationem laboriosam ex corporis nemo eaque praesentium id?
                </div>
              </div>
            </div>
            <div class="accordion-item bg-white  border-y border-[#5B677152] rounded-[0px !important] ">
              <h2 class="accordion-header mb-0 rounded-none" id="headingTwo">
                <button
                  class="
                    accordion-button
                    relative
                    flex
                    items-center
                    w-full
                    py-10 lg:py-10
                    text-left
                    bg-white
                    border-0
                    rounded-none
                    transition
                    focus:outline-none
                    text-body-16/24
                    md:text-body-20/28 
                  "
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo"
                  aria-expanded="true"
                  aria-controls="collapseTwo"
                >
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperi?
                </button>
              </h2>
              <div
                id="collapseTwo"
                class="accordion-collapse collapse show"
                aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body py-6">
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore soluta dolorem deleniti odio pariatur vel alias consequatur perspiciatis dolorum voluptatem aut ipsum ab neque cumque earum nulla fugiat, expedita atque. Ducimus, nam! Porro beatae sit doloribus reiciendis perspiciatis earum veritatis? Mollitia dolorum itaque repudiandae, facilis nesciunt doloribus voluptatem, consectetur ipsa optio aliquid alias at sit excepturi aperiam praesentium porro inventore, eaque consequatur necessitatibus quisquam! Vero tenetur odio asperiores dolorem. Provident fugit harum doloribus quisquam facilis ex consequatur asperiores, maiores in, magni laudantium. Vitae iure praesentium reiciendis dolorum, explicabo iusto cupiditate natus aut officiis cumque quam rerum nesciunt magnam minus dolor optio, commodi quo? Ab tempora voluptatem nihil reprehenderit magni. Delectus soluta animi exercitationem laboriosam ex corporis nemo eaque praesentium id?
                </div>
              </div>
            </div>
            <div class="accordion-item bg-white  border-y border-[#5B677152] rounded-[0px !important] ">
              <h2 class="accordion-header mb-0 rounded-none" id="headingThree">
                <button
                  class="
                    accordion-button
                    relative
                    flex
                    items-center
                    w-full
                    py-10 lg:py-10
                    text-left
                    bg-white
                    border-0
                    rounded-none
                    transition
                    focus:outline-none
                    text-body-16/24
                    md:text-body-20/28 
                  "
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseThree"
                  aria-expanded="true"
                  aria-controls="collapseThree"
                >
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperi?
                </button>
              </h2>
              <div
                id="collapseThree"
                class="accordion-collapse collapse show"
                aria-labelledby="headingThree"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body py-6">
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore soluta dolorem deleniti odio pariatur vel alias consequatur perspiciatis dolorum voluptatem aut ipsum ab neque cumque earum nulla fugiat, expedita atque. Ducimus, nam! Porro beatae sit doloribus reiciendis perspiciatis earum veritatis? Mollitia dolorum itaque repudiandae, facilis nesciunt doloribus voluptatem, consectetur ipsa optio aliquid alias at sit excepturi aperiam praesentium porro inventore, eaque consequatur necessitatibus quisquam! Vero tenetur odio asperiores dolorem. Provident fugit harum doloribus quisquam facilis ex consequatur asperiores, maiores in, magni laudantium. Vitae iure praesentium reiciendis dolorum, explicabo iusto cupiditate natus aut officiis cumque quam rerum nesciunt magnam minus dolor optio, commodi quo? Ab tempora voluptatem nihil reprehenderit magni. Delectus soluta animi exercitationem laboriosam ex corporis nemo eaque praesentium id?
                </div>
              </div>
            </div>
          </div>
    </div>
</section>



<!--  Testimonail section  -->
<section class="relative overflow-hidden py-10 lg:py-20 bg-white-fb">
    <div class="container px-3 mx-auto">
        <!-- section heading content  -->
        <div class="relative text-left md:text-center">
            <h2 class="text-heading-five md:text-heading-three mb-4">Our Science Advisory Board</h2>
            <p class=" text-body-16/24  md:text-body-20/28 max-w-full lg:max-w-[635px] mx-auto">
                We work with a lot of exceptional and thoughtful people—like the scientists, nutritionists, and medical doctors on our Scientific Advisory Board, who help guide our product innovation and clinical research.
            </p>
        </div>
        <!-- Testimonial slider  -->
        <div class="testimonial relative">
            <div class="swiper testimonial-slider ">
                <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <!-- testimonial card  -->
                    <div class="relative overflow-hidden bg-white shadow-box rounded-3xl py-6 flex items-center  justify-center text-center ">
                        <!-- testimonial card content  -->
                        <div>
                            <!-- img  -->
                            <a href="#" class="relative overflow-hidden w-120 h-120 rounded-full border-2 border-[#F2F3F3] flex items-center justify-center mb-4 mx-auto " >
                                <img src="assets/images/users/user-two.png" alt="user" class="w-[80px] h-[80px] rounded-full overflow-hidden relative" >
                            </a>
    
                            <!-- text content  -->
                            <div> 
                                <a href="#" class=" text-body-16/24 md:text-body-20/28 mb-2">Dr. Andrew Szalays</a>
                                <p class="text-body-16/24 md:text-body-20/28">Founder of Grow Company Inc</p>
                            </div>
    
                        </div>
    
                    </div>
                </div>
                <div class="swiper-slide">
                    <!-- testimonial card  -->
                    <div class="relative overflow-hidden bg-white shadow-box rounded-3xl py-6 flex items-center  justify-center text-center ">
                        <!-- testimonial card content  -->
                        <div>
                            <!-- img  -->
                            <a href="#" class="relative overflow-hidden w-120 h-120 rounded-full border-2 border-[#F2F3F3] flex items-center justify-center mb-4 mx-auto " >
                                <img src="assets/images/users/user-two.png" alt="user" class="w-[80px] h-[80px] rounded-full overflow-hidden relative" >
                            </a>
    
                            <!-- text content  -->
                            <div> 
                                <a href="#" class=" text-body-16/24 md:text-body-20/28 mb-2">Dr. Andrew Szalays</a>
                                <p class="text-body-16/24 md:text-body-20/28">Founder of Grow Company Inc</p>
                            </div>
    
                        </div>
    
                    </div>
                </div>
                <div class="swiper-slide">
                    <!-- testimonial card  -->
                    <div class="relative overflow-hidden bg-white shadow-box rounded-3xl py-6 flex items-center  justify-center text-center ">
                        <!-- testimonial card content  -->
                        <div>
                            <!-- img  -->
                            <a href="#" class="relative overflow-hidden w-120 h-120 rounded-full border-2 border-[#F2F3F3] flex items-center justify-center mb-4 mx-auto " >
                                <img src="assets/images/users/user-two.png" alt="user" class="w-[80px] h-[80px] rounded-full overflow-hidden relative" >
                            </a>
    
                            <!-- text content  -->
                            <div> 
                                <a href="#" class=" text-body-16/24 md:text-body-20/28 mb-2">Dr. Andrew Szalays</a>
                                <p class="text-body-16/24 md:text-body-20/28">Founder of Grow Company Inc</p>
                            </div>
    
                        </div>
    
                    </div>
                </div>
                </div>
                <div class="swiper-pagination md:hidden "></div>
    
            </div>

            <div>
                <div class="swiper-button-next testimonial-btn--next">
                    <svg width="16" height="26" viewBox="0 0 16 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 23L13 13L3 3" stroke="currentColor" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>  
                </div>
                <div class="swiper-button-prev testimonial-btn--prev">
    
                    <svg width="16" height="26" viewBox="0 0 16 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13 3L3 13L13 23" stroke="currentColor" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                      
                </div>
            </div>

        </div>

    </div>
</section>


<!-- Reviews  -->
<section class="relative overflow-hidden py-8 md:py-20">
    <div class="container mx-auto px-3">
        <!-- star heading  -->
        <div class="text-center flex items-center flex-col mb-20">
            <!-- star point  -->
            <ul class="flex items-center space-x-8">
                <li>
                    <span><img src="assets/images/icons/star-full.svg" alt="icon" /></span>
                </li>
                <li>
                    <span><img src="assets/images/icons/star-full.svg" alt="icon" /></span>
                </li>
                <li>
                    <span><img src="assets/images/icons/star-full.svg" alt="icon" /></span>
                </li>
                <li>
                    <span><img src="assets/images/icons/star-full.svg" alt="icon" /></span>
                </li>
                <li>
                    <span><img src="assets/images/icons/star-half.svg" alt="icon" /></span>
                </li>
            </ul>
            <h2 class="text-heading-four lg:text-heading-three text-gray-71 mb-4 lg:mb-6">4.5 out of 5 stars</h2>
            <p class="text-body-16/24 lg:text-body-20/28 text-gray-71">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>
        </div>

        <!-- Reviews -->
        <div class="relative space-y-6">
            <div class="relative grid grid-cols-1 lg:grid-cols-4 justify-center lg:space-x-6 pb-9 lg:pb-10 border-b border-[#5B677152]">
                <!-- left content  -->
                <div class="lg:col-span-1">
                    <!-- user -->
                    <div class="flex items-center lg:items-start flex-col lg:flex-row lg:space-x-6">
                        <!-- img -->
                        <div class="relative overflow-hidden w-12 lg:w-[80px] h-12 lg:h-[80px] rounded-full flex-shrink-0 mb-4 lg:mb-0">
                            <img src="assets/images/users/user-one.png" alt="user" class="w-full h-full object-cover" />
                        </div>
                        <!-- text  -->
                        <div class="text-center lg:text-left">
                            <h2 class="text-body-16/24 lg:text-body-20/28 text-gray-71 mb-2 lg:mb-6">Shannon M.</h2>
                            <div>
                                <h6 class="text-body-16/24 lg:text-body-20/28 mb-2 lg:mb-4 text-gray-71">Age 18-24</h6>
                                <p class="text-body-16/24 lg:text-body-20/28 text-gray-71">5 months on Essential for Women 18+</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- right content  -->
                <div class="lg:col-span-3 mt-4 lg:mt-0">
                    <!-- star -->
                    <div class="mb-6">
                        <ul class="flex items-center justify-center lg:justify-start space-x-3">
                            <li>
                                <span><img src="assets/images/icons/star-sm.svg" alt="icon" /></span>
                            </li>
                            <li>
                                <span><img src="assets/images/icons/star-sm.svg" alt="icon" /></span>
                            </li>
                            <li>
                                <span><img src="assets/images/icons/star-sm.svg" alt="icon" /></span>
                            </li>
                            <li>
                                <span><img src="assets/images/icons/star-sm.svg" alt="icon" /></span>
                            </li>
                            <li>
                                <span><img src="assets/images/icons/star-sm.svg" alt="icon" /></span>
                            </li>
                        </ul>
                    </div>
                    <!-- review details  -->
                    <div>
                        <h6 class="text-body-16/24 lg:text-body-20/28 text-gray-71 mb-2 lg:mb-4">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</h6>
                        <span class="text-body-16/24 lg:text-body-20/28 text-gray-71 font-light mb-2 lg:mb-6 inline-block">9 Feb 2022</span>

                        <p class="text-body-16/24 lg:text-body-20/28 text-gray-71 mb-6 lg:mb-10">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                            explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                        </p>

                        <!-- review action -->
                        <div class="flex flex-col lg:flex-row lg:items-center lg:space-x-6">
                            <p class="text-body-16/24 lg:text-body-20/28 text-gray-71 mb-2 lg:mb-0">is this review helpful ?</p>
                            <ul class="flex items-center space-x-3">
                                <li class="flex items-center space-x-2">
                                    <button>
                                        <img src="assets/images/icons/check.svg" alt="icon" />
                                    </button>
                                    <p class="text-body-16/24 lg:text-body-20/28 text-gray-71">21</p>
                                </li>
                                <li class="flex items-center space-x-2">
                                    <button>
                                        <img src="assets/images/icons/cross.svg" alt="icon" />
                                    </button>
                                    <p class="text-body-16/24 lg:text-body-20/28 text-gray-71">
                                        3
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="relative grid grid-cols-1 lg:grid-cols-4 justify-center lg:space-x-6 pb-9 lg:pb-10 border-b border-[#5B677152]">
                <!-- left content  -->
                <div class="lg:col-span-1">
                    <!-- user -->
                    <div class="flex items-center lg:items-start flex-col lg:flex-row lg:space-x-6">
                        <!-- img -->
                        <div class="relative overflow-hidden w-12 lg:w-[80px] h-12 lg:h-[80px] rounded-full flex-shrink-0 mb-4 lg:mb-0">
                            <img src="assets/images/users/user-one.png" alt="user" class="w-full h-full object-cover" />
                        </div>
                        <!-- text  -->
                        <div class="text-center lg:text-left">
                            <h2 class="text-body-16/24 lg:text-body-20/28 text-gray-71 mb-2 lg:mb-6">Shannon M.</h2>
                            <div>
                                <h6 class="text-body-16/24 lg:text-body-20/28 mb-2 lg:mb-4 text-gray-71">Age 18-24</h6>
                                <p class="text-body-16/24 lg:text-body-20/28 text-gray-71">5 months on Essential for Women 18+</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- right content  -->
                <div class="lg:col-span-3 mt-4 lg:mt-0">
                    <!-- star -->
                    <div class="mb-6">
                        <ul class="flex items-center justify-center lg:justify-start space-x-3">
                            <li>
                                <span><img src="assets/images/icons/star-sm.svg" alt="icon" /></span>
                            </li>
                            <li>
                                <span><img src="assets/images/icons/star-sm.svg" alt="icon" /></span>
                            </li>
                            <li>
                                <span><img src="assets/images/icons/star-sm.svg" alt="icon" /></span>
                            </li>
                            <li>
                                <span><img src="assets/images/icons/star-sm.svg" alt="icon" /></span>
                            </li>
                            <li>
                                <span><img src="assets/images/icons/star-sm.svg" alt="icon" /></span>
                            </li>
                        </ul>
                    </div>
                    <!-- review details  -->
                    <div>
                        <h6 class="text-body-16/24 lg:text-body-20/28 text-gray-71 mb-2 lg:mb-4">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</h6>
                        <span class="text-body-16/24 lg:text-body-20/28 text-gray-71 font-light mb-2 lg:mb-6 inline-block">9 Feb 2022</span>

                        <p class="text-body-16/24 lg:text-body-20/28 text-gray-71 mb-6 lg:mb-10">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                            explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                        </p>

                        <!-- review action -->
                        <div class="flex flex-col lg:flex-row lg:items-center lg:space-x-6">
                            <p class="text-body-16/24 lg:text-body-20/28 text-gray-71 mb-2 lg:mb-0">is this review helpful ?</p>
                            <ul class="flex items-center space-x-3">
                                <li class="flex items-center space-x-2">
                                    <button>
                                        <img src="assets/images/icons/check.svg" alt="icon" />
                                    </button>
                                    <p class="text-body-16/24 lg:text-body-20/28 text-gray-71">21</p>
                                </li>
                                <li class="flex items-center space-x-2">
                                    <button>
                                        <img src="assets/images/icons/cross.svg" alt="icon" />
                                    </button>
                                    <p class="text-body-16/24 lg:text-body-20/28 text-gray-71">
                                        3
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- navigate  -->
        <div class="text-center py-6 md:py-10">
            <a href="reviews.html" class="underline capitalize text-body-20/28 ">See All Reviews</a>
        </div>
    </div>
</section>






{% endblock %}
