{% extends "layout/layout.html" %}
{% block content %}
  <!-- Banner  -->
  <section
    class="banner relative overflow-hidden py-16 md:py-0 md:h-550"
    style=" background: url('assets/images/all-img/bg-4.png') center center/cover no-repeat; ">
    <div
      class="container mx-auto px-3">
      <!-- text content  -->
      <div class="max-w-2xl md:mt-120">
        <h2 class="text-heading-four md:text-heading-one text-white">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </h2>
      </div>
    </div>
  </section>
  <section class="product pt-20 md:pt-14">
    <div class="container mx-auto px-3">
      <h4 class="text-heading-one md:text-heading-three text-gray-71 mb-6">
        Products
      </h4>
      <div class="max-w-525 text-primary-button mb-6">
        Officia dolorem sint quibusdam modi. Nemo vitae molestias enim quidem blanditiis consequatur ut ducimus et. Nemo
        asperiores doloremque mque.
      </div>
      <div class="serarch-box mb-20 md:mb-14">
        <input type="text" class="" placeholder="Search for product relative"/>
        <div class="cursor-pointer">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M15.8645 14.3208H15.0515L14.7633 14.0429C15.7719 12.8696 16.3791 11.3465 16.3791 9.68954C16.3791 5.99485 13.3842 3
                9.68954 3C5.99485 3 3 5.99485 3 9.68954C3 13.3842 5.99485 16.3791 9.68954 16.3791C11.3465 16.3791 12.8696 15.7719 14.0429
                14.7633L14.3208 15.0515V15.8645L19.4666 21L21 19.4666L15.8645 14.3208ZM9.68954 14.3208C7.12693 14.3208 5.05832 12.2521
                5.05832 9.68954C5.05832 7.12693 7.12693 5.05832 9.68954 5.05832C12.2521 5.05832 14.3208 7.12693 14.3208 9.68954C14.3208
                12.2521 12.2521 14.3208 9.68954 14.3208Z"
              fill="#5B6771"/>
          </svg>
        </div>
      </div>
      <div class="grid">
        <div class=" col-span-3">
          {% include "../templates/components/shopfilter.njk" %}
        </div>
        <div class=" col-span-9">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat, laudantium.
        </div>
      </div>
    </div>
  </section>
{% endblock %}