{% extends "layout/layout.html" %} {% block content %}

<div class="bg-white-fb  py-8">
    <div class="container px-3 mx-auto">
        <h2 class="text-heading-two mb-6 uppercase  tracking-widest "  >Sitemap</h2>
        <ul class="space-y-5">
            <li><a href="index.html" target="_blank">Homepage</a></li>
            <li><a href="approach.html" target="_blank">Approach</a></li>
            <li><a href="shop-detail.html" target="_blank">Shop Details</a></li>
            <li><a href="journey.html" target="_blank">Journey</a></li>
            <li><a href="blogs.html" target="_blank">Blogs</a></li>
            <li><a href="blog-detail.html" target="_blank">Blog Details</a></li>
            <li><a href="certification.html" target="_blank">Certification</a></li>
            <li><a href="reviews.html" target="_blank">Reviews</a></li>
        </ul>
    </div>
</div>

{% endblock %}
