.pagination {
	&-index {
		@media (max-width: 767px) {
			display: none;
		}
		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3),
		&:nth-child(4) {
			display: block;
		}
		&--active {
			border-bottom: 1px solid #5b6771;
		}
	}
}
