.swiper {
	&-pagination {
		&-bullet {
			background-color: #5b6771;
			&-active {
				background-color: #9f6c1f;
			}
		}
	}
}

.testimonial-slider,
.review-slider,
.post-slider {
	.swiper-pagination {
		bottom: -5px;
	}
}

.swiper {
	// &-button-prev {
	// 	left: 5%;
	// }
	// &-button-next {
	// 	right: 5%;
	// }

	&-button-next,
	&-button-prev {
		color: #5b6771;
		&::after,
		&::before {
			display: none;
		}
		@media (max-width: 767px) {
			display: none;
		}
	}
}

.testimonial-slider,
.review-slider {
	.swiper-wrapper {
		margin: 40px 12px 20px 12px;
	}
}

.testimonial,
.review {
	.swiper-button-next {
		right: -5%;
	}
	.swiper-button-prev {
		left: -5%;
	}
}
